@import url("./assets/fonts/fonts.css");
:root {
  font-family: Jost, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --page-color: #fafafa;
  --page-additional-color: #272727;
  --text-main: #272727;
  --text-additional: #ffffff;
  --text-accent: #b81034;
  --text-caption: #00000099;
  --text-gray: #27272799;
  --text-cards: #000000;
  --background: #ffffff33;
  --background-accent: #b81034;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
